@import '../abstracts/variables';

.heading {
  font-family: 'Rubik', sans-serif;

  &_main{
    font-size: 3rem;
  }
  &_sub{
    font-size: 2rem;
  }
  &_welcome{
    font-size: 4rem
  }
  &__primary {
    color: $primary-color
  }
  &_review {
    font-size: 1.7rem;
    font-weight: 500;

  }
}