$primary-color: #348899;
$secondary-color:  #4A90E2;
$dark-color: #343642;
$light-color:#e0d9dc;
$danger-color: #962D3E;
$success-color: #28a745;
$color-black: #000;
$color-gray-dark: #979C9C;


$max-width: 1100px;
$mob-width: 420px;

// $primary-linear:  linear-gradient(90deg, #348899 0%, #4A90E2 100%);
$primary-linear:  linear-gradient(90deg, #8280F3 0%, #4A90E2 100%);;
// $primary-linear: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,136,153,1) 35%, rgba(0,212,255,1) 100%);