.btn {
  
  display: inline-block;
  background-color: $light-color;
  color: $dark-color;
  padding: 0.4rem 1.3rem; 
  border-radius: .5rem;
  cursor: pointer;
  border: none;
  transform: all .2s;
  // font-size: 1rem;
  margin: 2rem 1rem;
  outline: none;
  transition: all 0.2s ease-in;
      transform: all .2s;
      box-shadow: 
      1rem 1rem 2rem rgba(0, 0, 0, 0.1), 
      -1rem -1rem 2rem rgba(255, 255, 255, 0.5);

  
    &.rm-box-shadow {
      box-shadow: none ;
    }
  }