.btn {
  display: inline-block;
  // background-color: $primary-color;
  color: $light-color;
  padding: 1rem 10rem; 
  border-radius: .5rem;
  cursor: pointer;
  border: none;
  transform: all .2s;
  font-size: 1.75rem;
  // margin: 2rem 1rem;
  outline: none;
  transition: all 0.2s ease-in;
      transform: all .2s;
      box-shadow: 
      1rem 1rem 2rem rgba(0, 0, 0, 0.1);
      // -1rem -1rem 2rem rgba(255, 255, 255, 0.5);

  
    &.rm-box-shadow {
      box-shadow: none ;
    }

    &.btn-sm {
      // font-size: 1rem;
      padding: 1rem 1.5rem; 
   
      @media only screen and (max-width : $mob-width) {
        font-size: 2rem;
        width: 33rem;
      }
    }
    &.btn-med {
      // font-size: 1rem;
      padding: 1.3rem 2rem; 
   
      @media only screen and (max-width : $mob-width) {
        font-size: 2rem;
        width: 33rem;
      }
    }
    &.btn-lg {
      font-size: 1.5rem;
      padding: .7rem 3rem; 
        @media only screen and (max-width : $mob-width) {
          font-size: 2rem;
          padding: .7rem 6rem; 
        }
   
    }
    &-gray {
      background-color: $color-gray-dark;
    }

    &-light {

      background-color: lighten($secondary-color, 10%);
    }
    &-lighter {

      background-color: lighten($primary-color, 20%);
    }
    &-lightest {

      background-color: lighten($primary-color, 30%);
    }
    &-primary {

      background: $primary-linear;
    }
    &-primary_inverted {
      color: $secondary-color;
      border: 2px solid $secondary-color;
    }
    &-back {
      background-color: lighten($primary-color, 15%);
    }
    &-delete {
      background-color: $danger-color;
    }
  }

  // button spacing

  .buttons {
    display: flex;
    
    justify-content: space-around;
  }

  