@import '../abstracts/variables';

.card {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  padding: 4rem;
  // height: 100%;
  
  &_profile {
    width: 80rem;
    height: 60rem;
    // position: absolute;
    top: 100%;
    left: 9%;
    
  }

  &_flex {
    display: flex;
  }

  &_heading {

  }

  &_body {
    padding: 1.25rem 2rem;
  }

  &_img{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
  }
  &_rating {
    background-color: $success-color;
    color: #fff;
    width: 5rem;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: baseline;
    position: absolute;
    top: 6%;
    left: 65%;
  }
 
}

.badge {
  padding: .75rem .2rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: $dark-color;
  color: $light-color;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
}

.freelanerList-card {
  position: relative;
  background: #FFFFFF;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  padding: 4rem;

  &_rating {
    background-color: $success-color;
    color: #fff;
    width: 5rem;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: baseline;
    position: absolute;
    top: 6%;
    left: 65%;
  }

}

.search-card {
  background: #FFFFFF;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  padding: 4rem;
  margin-bottom: 2rem;
  width: 30rem;

}