@import '../abstracts/variables';


.form {
  padding: 1em 0em;
  // position: relative;
  // height: 50px;
  &-group {
    margin: 1.2rem 0;
    // &_label {
    //   position: absolute;
    //   bottom: 0px;
    //   left: 0px;
    //   width: 100%;
    //   height: 100%;
    //   pointer-events: none;
    //   border-bottom: 1px solid black;
    // }
  }
  &-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  select,
  textarea {
    display: block;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: .5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    // border-radius: 5px;
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    
    
    
    @media only screen and (max-width : $mob-width) {
      height: 4rem;
      // padding-top: 2rem;
      margin-bottom: 3rem;
      // border: 1px red solid;
    }
    
    &:active {
      box-shadow: 0 1rem 2rem rgba($dark-color,.2);

    }

    @media only screen and (max-width : $mob-width) {
        padding: .25rem;
      }
  }

  input[type='submit'] {
    font: inherit;
  }

  .social-input {
    display: flex;
  }
}