.flex {
  display: flex;
  // border: 1px solid red;

}

.flex-col {
  display: flex;
  flex-direction: column;

}

.main {
  width: 75rem;
  padding: 5rem;
}

.side {
  width: 50rem;
  padding: 5rem;
  margin-left: 3rem;
}