.container {
    margin-top: 7rem;
    // height: 100vh;
  position: relative;
  overflow: hidden;
  max-width: $max-width;

  @media only screen and (max-width : $mob-width) {
    margin: 7rem .5rem;
  }
  
}


@media only screen and (max-width : $mob-width) {
    .center {
      text-align: center;
    }
  }
